.card{
    
    

    border: 2px solid rgb(219, 9, 9);
    border-radius: 20px;
}

.btn{
    display: block;
    width: auto;
    background-color: rgb(96, 101, 175);
    border-radius: 5px;
    border: none;
    padding-top: 8px;
    padding-bottom:8px;
    padding-left: 16px;
    padding-right: 16px;
    
  
}

.google{
   
    margin-top: 15px;
    font-size: 14px;
    background-color: #dfe1ef;
    border: none;
    padding-top: 8px;
    padding-bottom:8px;
    padding-left: 16px;
    padding-right: 16px;
    
}

.attached{
    margin-top: 5px;
 display: block  ;
 width:auto;
 padding-top: 8px;
    padding-bottom:8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #dfe1ef;
 border-radius: 5px;
 border: none;
}